<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- Add any additional styles or links to external stylesheets here -->
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <h1>Welcome to the Home Page</h1>

    <div>
        <h2>Quick Links:</h2>
        <ul>
            <li><a href="/stores">Stores Page</a></li>
            <li><a href="/products">Products Page</a></li>
            <li><a href="/managers">Managers (MongoDB) Page</a></li>
        </ul>
    </div>

    <!-- Add any additional content here -->

</body>

</html>
